.friend-news-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;

  .news-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .news-text {
    font-size: 14px;
    color: #333;
  }
}