.user_block_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

  .user_block_user {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .user_block_friends,
  .user_block_news {
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }
}

.user_block_friends,
.user_block_news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }
}

.user_block_news {
  div {
    width: 100%;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }
}
